{{>header}}
<h1>{{title}}</h1>


<div>All Products</div>
<ul>
  {{#each products}}
    <li>
      id: {{this.id}}<br>
      name: {{this.name}}<br>
      price: {{this.price}}<br>
      description: {{this.description}}<br>
      quantity: {{this.quantity}}
    </li>
    
  {{/each}} 
</ul>




{{>footer}}